<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    	
    <nav><a href="/">Главная</a> | <a href="/about">О нас</a>| <a href="/news">Новости</a> |
         <a href="/login">Вход</a> | <a href="/reg">Регистрация</a></nav>
</head>
<body>
