{{> menu}}

<form method="post">
    <label>Login</label><br>
    <input type="text" name="userLogin" /><br><br>
    <label>Password</label><br>
    <input type="password" name="userPass" /><br><br>
    <input type="submit" value="Отправить" />
</form>
</body>
</html>