{{> menu}}
<form method="post">
    <label>Login</label><br>
    <input type="text" name="userLogin" /><br><br>
    <label>Password</label><br>
    <input type="password" name="userPass" /><br><br>
    <label>Password Check</label><br>
    <input type="password" name="userPassCheck" /><br><br>
    <label>Email</label><br>
    <input type="email" name="userEmail" /><br><br>
    <input type="submit" value="Отправить" />
</form>
</body>
</html>